body {
    font-family: Calibri, sans-serif;
    font-weight: bold;
}
h1 {
    color: #232729;
    text-align: center; /* Center align the title */
}
form {
    background-color: rgb(159, 250, 159);
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error {
    color: rgb(214, 5, 5);
}
label {
    display: flex;
    margin-bottom: 10px;
    color: #333333;
    font-size: 20px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="select"],
select {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: white;
}

input[type="radio"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
}
input[type="button"] {
    /* margin-top: 2rem; */
    background-color: palevioletred;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}
button[type="submit"] {
    background-color: goldenrod;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}
#send {
    background-color: palevioletred;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}
